.agro
{

padding-top:100px;
font-size: 50px;

}

.pad
{
padding-top: 40px;
padding-left: 30px;
padding-right: 30px;

}

.bg {
background-image: url("farm.jpg");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
