.introduction {
    margin-top: 100px;
    margin-bottom: 100px;
}
.agro
{
    padding-top:50px;
    font-size: 50px;
}

.pad
{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;

}

.network-image {
    background-image: url('network-img.jpg');
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-image {
    background-image: url("minato.jpg");
    height: 300px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-block-start: 200px;
    margin-block-end: 200px;
    padding-left: 20px;
    padding-right: 40px;
}
